.date
{
    color: gray;
}

span
{
    padding-left: 5px;
}

.checkbox{
    display: flex;
    align-items: center;
    --first-color: #243743;
    --second-color: white;
    --width: 100px;
    --height: 100px;
    --offset: 10px;
    --duration: 0.3s;
    cursor: pointer;
}

.checkbox p{
    overflow: hidden;
    margin-left: 10px;
}

.checkbox:hover{
    filter: brightness(1.2);
}

.checkbox_input:checked ~ .checkbox_div{
    background-color: var(--second-color);
}

.checkbox_input:checked ~ .checkbox_div::before{
    border: solid var(--first-color);
    border-width: 0 15px 15px 0;
    left: calc(var(--width) - var(--height) / 1.2 + var(--offset));
    top: 0;
}

.checkbox_input:focus + .checkbox_div{
    box-shadow: 0 0 0 5px black;
}

.checkbox_input{
    position: absolute;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
}
.checkbox_div{
    position: relative;
    flex-shrink: 0;
    width: var(--width);
    height: var(--height);
    border-radius: 15px;
    background-color: var(--second-color);
    transition: var(--duration);
}
.checkbox_div::before{
    transform: rotate( 45deg);
    content: '';
    position: absolute;
    top: var(--offset);
    width: calc(var(--height) / 1.5 - 2 * var(--offset));
    height: calc(var(--height)  - 2 * var(--offset));

    
}

.todo-item
{
    display: flex;
    align-items: center;
    margin: 10px;
    padding: 10px;
    text-align: center;
    color: black;
    background-color: rgb(248, 72, 72);
    border-radius: 25px;
    width: 500px;
    height: 200px;
}